<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <body>
   	  <div th:fragment="contents">
			<div id="login-box">
				<div sec:authorize="isAuthenticated()">
                 	<span id="loggedinUser" class="hidden" sec:authentication="principal.username"></span>
            	</div>

            	<h2 th:text="#{user-box_signin_command}"></h2>
     
    			<div th:if="${param.error}">
    				<div class="error" style="color: #ff0000;"><span th:text="#{login_form_error_msg}"></span></div>
				</div>
     		
    			<form id="loginform" th:action="@{/login}" method="post">
         			<div class="form-group"><label th:text="#{login_form_username}+':'"></label> <input type="text" id="username" name="username" class="form-control" autofocus="autofocus"/></div>
         			<div class="form-group"><label th:text="#{login_form_password}+':'"></label> <input type="password" id="password" name="password" class="form-control"/></div>
         			<div><input type="submit" th:value="#{login_form_submit}" class="btn btn-default"/>    </div>
    			</form>
    		</div>
       </div>
  </body>
</html>
