<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <body>
   	  <div th:fragment="contents">
        <div class="container marketing">
        	<div sec:authorize="isAuthenticated()">
                 <span id="loggedinUser" class="hidden" sec:authentication="principal.username"></span>
            </div>
      		<div class="row">
        		<div th:each="product : ${recentlyAddedProducts}">
          			<div th:replace="fragments/productview :: complete"></div>
        		</div>
      		</div><!-- /.row -->
	     </div><!-- /.container .marketing -->
      </div>
  </body>
</html>
