<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <body>
	<nav th:fragment="navbar" class="navbar navbar-inverse navbar-static-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a id="navbarnavhome" class="navbar-brand" href="/home"><span th:text="#{menu_entry_home}"></span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span th:text="#{menu_entry_products}"></span><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li th:each="category : ${categories}"><a class="productlistnavbarnav" th:href="'/product/all?cat='+${category.name}+'&amp;page=0&amp;size=3'"><span th:text="${category.name}"></span></a></li>
                  </ul>
                </li>
               </ul> 
               <ul class="nav navbar-nav navbar-right">	
			  	<li sec:authorize="isAuthenticated()">
			  		<a href="#">
			  			<span th:text="#{user-box_hello_msg}+', '"></span><span sec:authentication="name"></span><span>!</span>
    				</a>
    			</li>
    			<li>
			  		<a href="#">
			  			<span class="glyphicon glyphicon-shopping-cart">
			  				<span id="cartItemCount" class="badge" th:text="${session.cart_itemCount} != null ? ${session.cart_itemCount} : '0'"></span>
			  			</span>	
			  		</a>
			  	</li>
    			<li sec:authorize="isAuthenticated()">	
    				<a th:href="@{/logout}"><span th:text="#{user-box_signout_command}"></span></a>
    				<div sec:authorize="hasAuthority('CUSTOMER')">
                        <span id="customer" class="hidden" sec:authentication="principal.id"></span>
                    </div>
    			</li>
    			<li sec:authorize="isAnonymous()" class="active">
			  		<a id="loginbtn" th:href="@{/login}"><span th:text="#{user-box_signin_command}"></span></a>
			  	</li>
              </ul>
            </div>
          </div>
        </nav>

  </body>
</html>
