<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <body>
   	  <div th:fragment="contents">
		<div class="page-header">
			<div sec:authorize="isAuthenticated()">
                 <span id="loggedinUser" class="hidden" sec:authentication="principal.username"></span>
            </div>
			<h1 th:text="#{product_list_header}"></h1>
			<p th:if="${hasContent}" class="lead" th:text="#{product_list_intro}"></p>
			<p th:unless="${hasContent}" class="lead" th:text="#{product_list_not_found}"></p>	
				
			<div class="container marketing">
      			<div class="row">
        			<div th:each="product : ${products}">
          				<div th:replace="fragments/productview :: complete"></div>
        			</div>
      			</div><!-- /.row -->
	  		</div><!-- /.container .marketing -->
		</div><!-- /.page-header -->
		
		<ul class="pager">
    		<li class="previous" th:if="${hasPrevious}"><a class="productlistpagenav" th:href="'/product/all?cat='+${currentCategory}+'&amp;page='+${currentPage-1}+'&amp;size=3'"><span class="glyphicon glyphicon-menu-left"></span></a></li>
    		<li class="next" th:if="${hasNext}"><a class="productlistpagenav" th:href="'/product/all?cat='+${currentCategory}+'&amp;page='+${currentPage+1}+'&amp;size=3'"><span class="glyphicon glyphicon-menu-right"></span></a></li>
  		</ul>
      </div>
  </body>
</html>
