<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
			    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <body>

   	  <div th:fragment="complete" >
   	  
   	  	<div class="col-lg-4 col-md-6 col-sm-12">
   	  
			<!-- Thumbnail view -->
   	  		<img th:src="${product.imageUrl}" th:alt="${product.imageUrl}" width="140" height="140"/>
        	<div sec:authorize="hasAuthority('ADMIN')">
          		<a href="#"><span class="glyphicon glyphicon-trash"></span></a>
        	</div>
        	<h4 id="producttitle" th:text="${product.name}"></h4>
        	<h5 th:text="${product.category.name}"></h5>
        	<div class="rating">
           		<span class="glyphicon glyphicon-star"></span>
           		<span class="glyphicon glyphicon-star"></span>
           		<span class="glyphicon glyphicon-star"></span>
           		<span class="glyphicon glyphicon-star"></span>
           		<span class="glyphicon glyphicon-star-empty"></span>
        	</div>
        	<h4 class="cost"><span class="glyphicon glyphicon-usd"></span><span th:text="${product.price}"></span></h4>			
        	<p><button type="button" class="btn btn-primary" data-toggle="modal" th:attr="data-target='#product_view'+${product.id}"><i class="fa fa-search"></i><span th:text="#{button_view_details}"></span></button></p>
   	  	
			<!-- Quick view (popup with details) -->	
      		<div th:fragment="details" class="modal fade product_view" th:id="'product_view'+${product.id}">
        		<div class="modal-dialog">
        			<div class="modal-content">
            			<div class="modal-header">
               				<a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                			<h3 class="modal-title" th:text="${product.name}"></h3>
            			</div>
            			<div class="modal-body">
                			<div class="row">
                    			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 product_img">
                        			<img th:src="${product.imageUrl}" th:alt="${product.imageUrl}" class="img-responsive"></img>
                    			</div>
                    			<div class="col-lg-8 col-md-4 col-sm-8 col-xs-12 product_content">
                    				<h4 th:text="${product.category.name}"></h4>
                        			<div class="rating">
                            			<span class="glyphicon glyphicon-star"></span>
                            			<span class="glyphicon glyphicon-star"></span>
                            			<span class="glyphicon glyphicon-star"></span>
                            			<span class="glyphicon glyphicon-star"></span>
                            			<span class="glyphicon glyphicon-star-empty"></span>
                        			</div>
                        			<p th:text="${product.description}"></p>
                        			<h3 class="cost"><span class="glyphicon glyphicon-usd"></span><span th:text="${product.price}"></span></h3>
                        			<div class="space-ten"></div>
                        				<div class="btn-ground">
                            				<button type="button" class="btn btn-primary btn-addtocart" th:disabled="!${#authorization.expression('hasAuthority(''CUSTOMER'')')}" th:attr="data-product=${product.id}"><span class="glyphicon glyphicon-shopping-cart"></span><span th:text="#{button_add_to_cart}"></span></button>
                        				</div><!-- /.btn-ground -->
                    				</div><!-- /.col-md-8 product_content -->
                			</div><!-- /.row -->
            			</div><!-- /.modal-body -->
        			</div><!-- /.modal-content -->
    			</div><!-- /.modal-dialog -->
   	  		</div><!-- /.modal fade product_view -->

   	  	</div>
   	  	
   	  </div>
      
  </body>
</html>
