<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
  <head th:include="fragments/header :: header"></head>
  
  <body>
    <div class="container">
    	<div id="navbarcontainer">
			<nav th:replace="fragments/navbar :: navbar"></nav>
		</div>
		
		<!-- Modal dialog with progress bar displayed when loading data using ajax -->
		<!-- TODO: Switch to something more subtle later on -->
		<div id="pleaseWaitDialog" class="modal fade ">
			<div class="modal-dialog" data-backdrop="static" data-keyboard="false">
        		<div class="modal-content">
        			<div class="modal-header">
            			<h1 class="modal-title" th:text="#{loading_msg}"></h1>
        			</div>
        			<div class="modal-body">
            			<div class="progress">
  							<div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width:99%">99%</div>
						</div>
       		 		</div><!-- /.modal-body -->
        		</div><!-- /.modal-content -->
    		</div><!-- /.modal-dialog -->
    	</div><!-- /.modal -->
		
   	  	<div id="contents" th:include="fragments/marketing :: contents">

	    </div>

      	<div th:replace="fragments/footer :: footer"></div>
      	
    </div><!-- /.container -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/pagenavigationhandler.js}"></script>
    <script th:src="@{/js/shoppingcarthandler.js}"></script>
	<script th:src="@{/js/loginhandler.js}"></script>
  </body>
</html>
