/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar {
  margin-bottom: 20px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 50px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* PRODUCT DETAIL THUMBNAIL & POPUP
-------------------------------------------------- */

.product_view .modal-dialog{
  max-width: 800px; 
  width: 100%;
}

.space-ten{
  padding: 10px 0;
}

#producttitle {
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;

  }

  .col-lg-4 {
    width: 32%;
  }
}

/********** Medium devices only **********/
@media (min-width: 582px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  
  .col-md-6 {
    width: 48.5%;
  }
  
  .col-md-12 {
    width: 98%;
  }
}

/********** Small devices only **********/
@media (max-width: 582px) {
  .col-sm-12 {
    float: left;
  }
 
  .col-sm-12 {
    width: 98%;
  }
}
